// font:
$font-family: "Roboto", sans-serif;

/* colors: */
// Functional Colors:
$color-primary: #1f88e5;
$color-success: #28b9b5;
$color-warning: #fbc02e;
$color-danger: #ff1744;
$color-info: #8aa6c7;
$color-white: #fff;
$color-disabled: #bdbdbd;

// Text Colors:
$color-text-black: #212529;
$color-text-grey: #898989;

// Line Colors:
$color-border: #d8d8d8;
